#center {
    display: block;
    margin: auto;
}

#backgroundColor {
    background-color: rgb(240, 174, 87);
}

#logo {
    width: 60px;
    height: 60px;
}

#gridcardMargin {
    margin-top: 20px;
    margin-bottom: 20px;
}

#footerText {
    color: white;
    text-align: right;
    margin-right: 25px;
}

table {
    width: 70%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-right: auto;
    margin-bottom: 20px;
    margin-left: auto;
}

table,
th,
td {
    border: 2px solid black;
}

table th,
table td {
    padding: 10px;
    text-align: center;
}

#buttonStyle {
    border-radius: 25px;
    padding: 5px;
    margin-bottom: 20px;
}

th {
    cursor: pointer;
}